/* Booster Club CSS */
.attendance_details ul,
.booster-club-content ul {list-style-type: none;
                          padding-left:0;}

.portalMessage.warn {background: #f78686;}

#attendance_records > ul > li {display: block;}